/* .books {
} */

.book {
    display: inline-block;
    /* width: 18%; */
    /* margin: 1%; */
}

.book .card {
    border-radius: 20px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.book img {
    height: 350px;
    border-radius: 20px;
}

.book button {
    background-color: #265CE7;
    border-radius: 10px;
    width: 75%;
}

.book-details {
    font-family: Righteous;
    font-size: 20px;
}

.book-details div.book-image {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.book-details h4, .book-details h4 b {
    font-family: Roboto;
}

.book-details h4 b {
    font-weight: bolder;
}

.book-details button {
    font-size: 24px;
    border-radius: 10px;
}