.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    font-family: Righteous;
    font-size: 23px;
    line-height: 29px;
}

.logo > * {
    display: flex;
    justify-content: center;
}

.logo img {
    margin: auto
}

.logo-outer a {
    color: inherit;
}

.logo-outer a:hover {
    opacity: 0.9;
}